body {

}

.grid {
    width: 720px;
    margin: 20px auto;
    height: 720px;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
    align-items: center;
}

.gridLocation {
    display: grid;
    height: 200px;
    width: 150px;
    align-content: center;
    justify-content: center;
    background-color: blue;
}

.card {
    height: min-content;
    width: min-content;
    background-color: blue;
}

.flippedCard {
    display: grid;
    height: 200px;
    width: 150px;
    align-content: center;
    justify-content: center;
    background-color: red;
}

.matchedCards {
    display: grid;
    height: 200px;
    width: 150px;
    align-content: center;
    justify-content: center;
    background-color: black;
}

