body {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}

.grid {
    border-radius: 20px;
    width: 720px;
    margin: 20px auto;
    padding: 15px;
    height: 720px;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
    align-items: center;
}

.gridLocation {
    border-radius: 20px;
    display: grid;
    height: 200px;
    width: 150px;
    align-content: center;
    justify-content: center;
    background-color: blue;
}

.card {
    display: none;
    border-radius: 20px;
    height: 200px;
    width: 150px;
    visibility: hidden;
    background-color: blue;
}

.visibleCard {
    border-radius: 20px;
    height: 200px;
    width: 150px;
    visibility: visible;
    /* background-color: red; */
}

.flippedCard {
    border-radius: 20px;
    display: grid;
    height: 200px;
    width: 150px;
    align-content: center;
    justify-content: center;
    background-color: red;
}

.matchedCards {
    border-radius: 20px;
    display: grid;
    height: 200px;
    width: 150px;
    align-content: center;
    justify-content: center;
    background-color: black;
}

.reset {
    width: max-content;
    justify-self: center;
}

h1 {
    width: max-content;
    justify-self: center;
    margin: 25px 0px 5px 0px;
}

h2 {
    width: max-content;
    justify-self: center;
    margin: 5px 0px 5px 0px;
}

h3 {
    width: max-content;
    justify-self: center;
    margin: 5px 0px 5px 0px;
}

.invisibleGridLocation {
    display: none;
}

.invisibleCard {
    display: none;
}

.matchedCardBack {
    display: none;
}